@import "@zapier/design-tokens/custom-properties.css";
@import "@zapier/design-system/style.css";
@import "@zapier/design-system-beta/style.css";

html,
body {
  padding: 0;
  margin: 0;
  height: calc(100vh - 50px);

  color: var(--zds-text-default);
  background-color: var(--zds-prime-white);

  font-family: var(--zds-inter);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font: var(--zds-page-header);
  letter-spacing: var(--zds-letter-spacing-header);
}

h2 {
  font: var(--zds-section-header);
  letter-spacing: var(--zds-letter-spacing-header);
}

h3 {
  font: var(--zds-paragraph-header-4);
}

h4 {
  font: var(--zds-paragraph-header-3);
}

h5 {
  font: var(--zds-paragraph-header-1);
}

h6 {
  font: var(--zds-title);
  letter-spacing: var(--zds-letter-spacing-header);
}

p,
li {
  font: var(--zds-body-1);
}

strong,
b {
  font-weight: var(--zds-bold);
}

small {
  font: var(--zds-minimal-print-1);
}

a {
  text-decoration: none;
  color: var(--zds-text-link);
}

img {
  max-width: 100%;
  height: auto;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.not_found {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  width: 100%;
  gap: 20px;
}
